doctype html
html(lang="pt-br", ng-app="EleicoesApp")
	head
		title= title
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Montserrat:400,700")
		link(rel='stylesheet', href='/stylesheets/style.min.css')
	body

		block header
			include partials/header

		block content

		block footer
			include partials/footer

		script(src="/components/angular/angular.min.js")
		script(src="/components/angular-animate/angular-animate.min.js")
		script(src="/components/angular-route/angular-route.min.js")
		script(src="/scripts/main.js")