html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * Body
 */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Montserrat', 'Georgia', sans-serif;
	font-size: 14px;
	color: #FFF;
}

strong { font-weight: 700; }
em { font-style: italic; }

/**
 * Helpers
 */
.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


a { text-decoration: none; }

%section-center {
	width: 100%;
	text-align: center;
	padding: 10px;
}

.shadow-gradient {
	position: absolute;
	left: 0;
	width: 100%;
	height: 50%;
	z-index: -1;

	&.top, &.left, &.right {
		top: 0;
	}

	&.top {
		background: linear-gradient(to bottom, rgba(0,0,0,.45) 0%, transparent 100%);
	}

	&.bottom {
		bottom: 0;
		background: linear-gradient(to top, rgba(0,0,0,.45) 0%, transparent 100%);
	}

	&.left {
		background: linear-gradient(to left, rgba(0,0,0,.45) 0%, transparent 100%);
	}

	&.right {
		background: linear-gradient(to right, rgba(0,0,0,.45) 0%, transparent 100%);
	}
}

.list {
	-webkit-appearance: none;
	padding: 10px;
	background: #FFF;
	border: 0;
	font-family: 'Montserrat';
	font-size: 14px;
	border-radius: 10px;
}

/**
 * Header
 */
.header {
	background: green;
	@extend %section-center;

	h1 {
		font-size: 32px
	}
}

/**
 * Footer
 */
.footer {
	width: 100%;
	opacity: .8;
	transition: all .3s;

	&:hover {
		opacity: 1;
	}
}

/**
 * Header n Footer
 */
.header, .footer {
	z-index: 9999;
}

.nav-links {
	padding: 10px;
	background: green;
}

.link {
	float: left;
	padding: 7px;

	a {
		color: #FFF;
	}
}

/**
 * Políticos
 */
.politicos {
	position: relative;

	/* Presidentes */
	&.presidentes {
		.section-title {
			background: #38445a;
		}
	}

	/* Presidentes */
	&.governadores {
		.section-title {
			background: #904131;
		}
	}
}

.list-politicos {
	display: flex;
	position: relative;

	flex-wrap: wrap;
}

.section-title {
	@extend %section-center;
	font-size: 18px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	> * {
		align-self: center;
		margin: 0 10px;
	}
}

.box-politico {
	overflow: hidden;
	width: 25%;
	height: 300px;
	position: relative;
	color: #FFF;
	padding: 20px;

	h1, h2, .shadow-gradient {
		transition: .6s;
		opacity: 0;
	}

	h1 {
		font-size: 40px;
		margin-bottom: 10px;
		transform: translateX(-20px);
	}

	h2 {
		line-height: 16px * 1.4;
		transform: translateY(20px);
	}

	&.politico-presidente {
		height: 500px;
	}

	&:hover {
		.politico-cover {
			transform: scale(1.2);
		}

		h1, h2, .shadow-gradient {
			opacity: 1;
		}

		h1 {
			transform: translateX(0px);
		}

		h2 {
			transform: translateY(0px);
		}
	}
}

.politico-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	transition: all 10s;
}

/**
 * Modal
 */
.modal {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background: #FFF;
	padding: 5% 5% 50%;
	color: #222;
	display: none;

	&.is-active {
		display: flex;
		flex-wrap: nowrap;
	}
}

.modal-close {
	display: block;
	position: fixed;
	top: 20px;
	right: 20px;
	font-size: 20px;
	color: green;
	text-decoration: none;
	border-radius: 50%;
	border: 2px solid green;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	transition: all .3s;

	&:hover {
		transform: scale(1.2);
	}
}

.modal-content, .sidebar-content {
	padding: 0 3%;
}

.modal-content {
	width: 70%;

	> p {
		line-height: 16px * 1.4;
		margin-bottom: 30px;
	}

	img {
		max-width: 100%;
		max-height: 500px;
		height: auto;
		display: block;
		margin: 30px auto;
	}

	a {
		@extend .external;
	}

	ul {
		padding-left: 20px;
		list-style-type: disc;
		margin-bottom: 30px;
	}

	li {
		margin-bottom: 5px;
		line-height: 16px * 1.4;
	}

	blockquote {
		padding: 20px 30px;
		border-left: #efefef 5px solid;
		font-size: 26px;
		line-height: 26px * 1.4;
	}
}

.modal-title {
	font-size: 60px;
	margin-left: -4px;
}

.modal-subtitle {
	font-size: 18px;
	color: #999;
	margin-bottom: 30px;
}

/* Sidebar */
.sidebar-content {
	width: 30%;

	> p, .itens-list, .sidebar-title {
		margin-bottom: 10px;
	}

	p, .item {
		line-height: 16px * 1.4;
	}
}

.sidebar-title {
	font-size: 20px;
	line-height: 20px * 1.4;
	padding-bottom: 5px;
	border-bottom: 2px solid #efefef;
	margin-top: 30px;
}

.voto {
	display: block;
	width: 100%;
	background: red;
	padding: 10px;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	margin: 20px 0;
	font-size: 20px;
	transition: all .3s;

	&:hover {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(.9);
		opacity: .8;
	}

	&.is-disabled {
		cursor: not-allowed;
		opacity: .5;
		background: #CCC;
		color: #222;
		text-shadow: #fff 1px 1px;
	}

	&.is-loading {
		opacity: .5;
		cursor: wait;
	}
}

.external {
	color: green;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.total-votos {
	font-size: 24px;
}

.itens-list {
	padding-left: 20px;
	list-style-type: disc;
}

.politico-perfil {
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;

	img {
		max-width: 100%;
	}
}

/**
 * Formulario
 */
.form {
	padding: 5%;
	color: #222;
	display: flex;
	flex-wrap: wrap;

	> .form-group {
		width: 50%;
		padding: 2%;
	}
}

.form-group {
	margin-bottom: 20px;
}

.form-group.form-group-full {
	width: 100%;
}

.form-group.form-group-content {
	display: flex;
	justify-content: space-between;

	> .form-group {
		padding: 0 2%;
		flex: 1 1 auto;
	}
}

.form-label {
	display: block;
	margin-bottom: 5px;
}

.form-text, .form-select, .form-textarea {
	width: 100%;
	padding: 3%;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.form-textarea {
	padding: 2%;
	height: 200px;
}

.form-title {
	width: 100%;
	padding: 2%;
	font-size: 24px;
}

.form-btn {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	background: green;
	color: #fff;
	font-family: 'Montserrat';
	margin: 0 20px;
	border: 0;
}

.form-submit {
	margin: 0;
	cursor: pointer;
}

/**
 * Responsive
 */

/* 1600px */
@media (min-width: 1600px) {
	.box-politico { width: 20%; }
}

/* 1150px */
@media (max-width: 1150px) {
	.box-politico { width: 33.3%; }
}

/* 1024px */
@media (max-width: 1024px) {
	.box-politico {
		h1, h2, .shadow-gradient {
			opacity: 1;
			transform: translateY(0) translateX(0);
		}
	}

	.modal {
		flex-wrap: wrap;
	}

	.modal-content {
		width: 100%;
		margin-bottom: 30px;
	}

	.sidebar-content {
		margin: 0 auto;
		width: 45%;
	}
}

/* 895px */
@media (max-width: 895px) {
	.box-politico { width: 50%; }

	.sidebar-content {
		width: 70%;
	}
}

/* 610px */
@media (max-width: 610px) {
	.box-politico { width: 100%; }

	.sidebar-content {
		width: 100%;
	}
}