extends ../layout

block content
	form.form(method="post", action="/painel/politicos", enctype="multipart/form-data", ng-controller="PoliticoFormController")
		div.form-group
			label.form-label Nome do Político
			input(type="text", name="nome", required).form-text

		div.form-group
			label.form-label Nome Completo
			input(type="text", name="nomeCompleto", required).form-text

		div.form-group.form-group-full
			label.form-label Biografia (em markdown)
			textarea(name="bio", required).form-textarea

		div.form-group
			label.form-label Cargo Atual
			input(type="text", name="cargoAtual", required).form-text

		div.form-group
			label.form-label Data de Nascimento
			input(type="date", name="dataNascimento", required).form-text

		div.form-group
			label.form-label Cidade Natal
			input(type="text", name="cidadeNatal", required).form-text

		div.form-group
			label.form-label Tags
			input(type="text", name="tags", required).form-text

		h3.form-title Cargos
			a.form-btn(ng-href="#", ng-click="addCargo($event)") +

		div.form-group.form-group-full.form-group-content(ng-repeat="(key, c) in cargos")
			div.form-group
				label.form-label Nome do Cargo
				input(type="text", name="historico[{{ key }}][nome]", required).form-text

			div.form-group
				label.form-label Início do Mandato
				input(type="date", name="historico[{{ key }}][mandato][inicio]", required).form-text

			div.form-group
				label.form-label Término do Cargo
				input(type="text", name="historico[{{ key }}][mandato][termino]").form-text

			div.form-group
				label.form-label Antecessor
				input(type="text", name="historico[{{ key }}][antecessor]", required).form-text

		div.form-group
			label.form-label Foto
			input(type="file", name="foto", required).form-text

		div.form-group
			label.form-label Link
			input(type="url", placeholder="http://" name="link", required).form-text

		div.form-group
			label.form-label Partido
			select(name="_partido").form-select
				option(disabled, selected) Escolha um partido
				option(value="1") PT (Partido dos Trabalhadores)
				option(value="2") PSDB (Partido)

		div.form-group
			label.form-label Vice
			select(name="_vice").form-select
				option(disabled, selected) Escolha o vice
				option(value="1") PT (Partido dos Trabalhadores)
				option(value="2") PSDB (Partido)

		div.form-group
			input(type="submit", value="Enviar").form-btn.form-submit