extends ../layout

block content

	section.modal
		a(href="#").modal-close X

		div.modal-content
			hgroup.modal-titles
				h1.modal-title Dilma Rouseff
				h2.modal-subtitle Presidente do Brasil

			p Dilma Vana Rousseff2 (Belo Horizonte, 14 de dezembro de 1947) é uma economista e política brasileira, 
				strong filiada ao Partido dos Trabalhadores (PT), 
				| e a atual presidente3 da República Federativa do Brasil.4 5 Durante o governo 

				a(href="#") do ex-presidente Luiz 

				| Inácio Lula da Silva, assumiu a chefia do Ministério de Minas e Energia, e posteriormente, da Casa Civil. Em 2010, foi escolhida pelo PT para se candidatar à Presidência da República na eleição presidencial,6 7 sendo que o resultado de segundo turno, em 31 de outubro, tornou Dilma a primeira mulher a ser eleita para o posto de chefe de Estado e de governo, em toda a história do Brasil.[a]8

			img(src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Dilma_Rousseff_-_foto_oficial_2011-01-09.jpg/640px-Dilma_Rousseff_-_foto_oficial_2011-01-09.jpg")

			p Nascida em família de classe média alta, interessou-se pelos ideais socialistas durante a juventude, logo após o Golpe Militar de 1964. Iniciando na militância de esquerda, integrou organizações que defendiam a luta armada contra o regime militar, como o Comando de Libertação Nacional (COLINA) e a Vanguarda Armada Revolucionária Palmares (VAR-Palmares). Passou quase três anos presa entre 1970 e 1972 pela ditadura militar brasileira, primeiramente durante a Operação Bandeirante (Oban), onde passou por sessões de tortura, e, posteriormente, no Departamento de Ordem Política e Social (DOPS).2 7

			ul
				li teste 1
				li teste 2

			blockquote Lorem ipsum dolor sit amet.

		aside.sidebar-content
			div.politico-perfil(style="background-image: url(/uploads/dilma_13.jpg)")

			a.voto(href="#", style="background-color: red") Eu voto no 13!

			p
				span.total-votos 120 
				| pessoas votaram na Dilma Rousseff!

			h3.sidebar-title Dados
			p Dilma Vana Rousseff
			p Presidente do Brasil
			p Nasceu no dia 25/10/1960 em Brasília, DF

			h3.sidebar-title Cargos
			ul.itens-list
				li.item
					p Cargo
					p de 21/12/1999 até o momento
				li.item
					p Cargo 2
					p de 21/10/1960 até 21/12/1950

			h3.sidebar-title Vice candidato
			p Michel Temer

			h3.sidebar-title Partido
			p PT (Partido dos Trabalhadores)
			p Presidente: Raimundo Soares
			p Fundado em 1980
			p Sede em Manaus
			p Suas ideologias são: a, b, c
			p Cores
			div.cores
				i(style="background-color: red", title="Vermelho")
				i(style="background-color: white", title="Branco")

			a.external(href="#") Ver mais informações





	article(ng-controller="EleicoesController").main
		section.politicos.presidentes
			h1.section-title Candidatos à Presidência

			section.list-politicos
				a(ng-repeat="p in politicos", ng-href="#/politico/{{ p.slug }}").box-politico.politico-presidente
					h1 Dilma Rousseff

					h2 Vice: Michel Temer
					h2 Partido: PT
					h2 Número: 13

					div.politico-cover(style="background-image: url(/uploads/dilma_13.jpg)")
					div.shadow-gradient.top

		section.politicos.governadores
			div.section-title
				h1 Governadores
				select.list
					option(selected=true, disabled=true) Escolha um Estado
					option(value="") Acre
					option(value="") Amazonas
					option(value="") São Paulo
					option(value="") Paraná

			section.list-politicos
				for p in [1, 2, 3]
					a(href="#").box-politico.politico-governador
						h1 Dilma Rousseff

						h2 Vice: Michel Temer
						h2 Partido: PT
						h2 Número: 13

						div.politico-cover(style="background-image: url(/uploads/dilma_13.jpg)")
						div.shadow-gradient.top
				for p in [1, 2, 3]
					a(href="#").box-politico.politico-governador
						h1 Aécio Neves

						h2 Vice: Roberto Requião
						h2 Partido: PSDB
						h2 Número: 45

						div.politico-cover(style="background-image: url(http://midias.folhavitoria.com.br/files/2014/04/aecio.jpg)")
						div.shadow-gradient.top